<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listagem de Usuários</title>
    <link rel="stylesheet" href="static/list_users.css">
  </head>
  <body>
    <h1>Meus usuários cadastrados</h1>
    <ul>
      {% for user in users %}
      <li>
        <img src="{{user.avatar_url}}" alt="foto do usuário" height="120px" />
        <footer>
          <p class="userName">{{user.name}}</p>
          <p class="userOccupation">{{user.occupation}}</p>
        </footer>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
